@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #222;
  background-color: #ffe;
  font-family: 'Poppins', sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.user {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.user__img--wrapper {
  order: 1;
}

.user__content--box {
  order: 2;
}

.user__img--wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.user__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  position: static;
  display: flex;
  flex-direction: column;
}

.date {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #555;
}

.user__job {
  order: 2;
  font-style: italic;
  color: #555;
  font-weight: 500;
}

.user__name {
  order: 1;
  font-size: 4rem;
  line-height: 4rem;
}

.user__link {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: rgb(200, 0, 0);
}

.user__link:hover {
  color: rgba(200, 0, 0, 0.7);
}

.arrow {
  transition: margin 0.5s;
}

.user__link:hover .arrow {
  margin-left: 1rem;
}

/* For larger screeens */
@media (min-width: 768px) {
  body {
    overflow: hidden;
    display: block;
    padding: 0;
  }

  .user {
    height: 100%;
    flex-direction: row;
    text-align: left;
  }

  .user__img--wrapper {
    order: 2;
    width: 60%;
    height: 100%;
    border-radius: none;
    overflow: visible;
    margin-bottom: 0;
  }

  .user__content--box {
    order: 1;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    background: #eec;
  }

  .box {
    position: absolute;
  }

  .user__name {
    order: 2;
    font-weight: 900;
    font-size: 10rem;
    color: #111;
    line-height: 10rem;
    padding-right: 25rem;
  }

  .user__job {
    order: 1;
    font-weight: 700;
  }

  .user__link {
    left: 3rem;
    transform: translate(0);
  }

  .date {
    left: 3rem;
    transform: translate(0);
  }
}
